/* .App {
  text-align: center;
} */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #99e6ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav.open {
  width: 250px
}

.nav-toggle {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.sidenav button,
.sidenav span {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav button:hover,
.sidenav span:hover {
  color: #111;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main {
  transition: margin-left .5s;
  padding: 16px;
}

.main.open {
  margin-left: 250px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav button {
    font-size: 18px;
  }
}